
.pagina-formulario-Ingreso {
height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 315px;
  height:fit-content; 
  padding: 10px;
  place-items: center;
  gap: 1rem;
}

.border-error {
 
  width: 315px;
}

.border-valid {
  border: 1px solid green;
}
.formulario-inicio {
height:fit-content;
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 1rem;

}




.acceso-cuenta-o-usuarionuevo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
}

.msj-form-guardado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}