.card-body-producto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 82%;
  height: 360px;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  /* -moz-border-radius: 11px 11px 11px 11px; */
  margin-bottom: 1rem;
  box-shadow: var(--BShadow);
  border-radius: var(--bRadiusButton);
  transition: color 0.2s, transform 0.2s;
}

.caja-texto-card {
  height: 200px;
}

.heart-icon {
  transition: transform 3s cubic-bezier(4, 1, 1, 1.0); 
}

.heart-icon:hover {
  /* transform: scale(1.2, 1.15); */
  /* filter: filter-image(linear-gradient(to bottom, transparent 0%, #000 100%), blur(2px)); */
  transform: translate(0, -3px) scale(1.15, 1.1);
}

.heart-icon:hover::after {
  transition: transform 3s cubic-bezier(0.42, 0, 1, 1.0);
  will-change: transform;
}

.textos-card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: 80px;
  gap: 0.4rem;
  width: 100%;
}

.titulo-descripcion-tipo-servicios {
  height: 80px;
  width: 85%;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.servicios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.ImgCard-producto-home {
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 0px;
  object-fit: cover;
}

.imagen-back-home {
  background-image: url("/images/240_F_610971454_DBLcfDXBVOeIJQMGBNbE0r5Szfx3e9OL.jpg");
}

.tipo-recurso-card {
  font-size: var(--fsizeS);
}

.texto-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 82px;
  width: 100%;
  max-width: 100%;
  border-radius: 0px 10px 10px 0px;
  /* ----------- Borrar despues de poner dinamicas las categorias */
  /* white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;  */
  /* max-width: 280px; */
  border: 1px solid rgb(68, 0, 255);
}

.descripcion-tipo-precio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.descripcion-tipo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  gap: 0.5rem;
}

.p-sinmargin {
  margin: 0;
  /* line-height: 16px; */
}

.titulo-card-producto {
  margin: 0;
  padding: 0;
  font-size: var(--fsizeT);
  color: var(--colorGrey1);
  font-weight: var(--fweightM);
  line-height: 20px;
  width: 100%;
  /* border: 1px solid rgb(255, 0, 204); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.descripcion-card-home {
  max-height: 30px;
  line-height: 20px;
  font-size: var(--fsizep);
  width: 90%;
  line-height: 14px;
  color: var(--colorGrey1);
  margin-top: 4px;
  /* ----------- Borrar despues de poner dinamicas las categorias */
<<<<<<< HEAD
   /* white-space: wrap;   */
  overflow: hidden;/* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis; 
=======
  /* white-space: wrap;   */
  overflow: hidden; /* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis;
>>>>>>> ecba9aee4dab27332505f7150a57e77da5a70825
}

.precio-card-home {
  font-size: var(--fsizeT);
  font-weight: var(--fweightXL);
  color: var(--colorGrey1);
  margin: 0;
  padding: 0;
}

.card-body-producto:hover {
  border: 1px solid var(--BGrey);

  transform: scale(1.006);

  box-shadow: var(--BShadowD);
}

@media (max-width: 600px) {
  .card-body-producto {
    width: 90%;
    margin-left: 0;
  }
}
