
/* Estilos para pantallas grandes */
.grid-container-listado-home {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 19%));
  grid-auto-rows: minmax(100px, 440px);
  gap: 4rem;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin: auto;
  width: 90%;
  /* margin-left: 2rem; */
}

@media (max-width:1800px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(4, minmax(300px, 19%));
    
  }
}

@media (max-width:1500px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(3, minmax(300px, 19%));
    
  }
}
@media (max-width:1200px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(2, minmax(300px, 19%));
    
  }
}

@media (max-width: 900px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(1, 90%);
   place-items: center;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(1, 100%);
    /* margin-left: 10%; */
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 380px) {
  .grid-container-listado-home {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 380px) {
  .grid-container-listado-home {
    /* margin-left: 15%; */
  }
}

.segmento-listado-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;

  z-index: 0;
}

.txt-titulo-listado-productos {
  font-size: 20px;
  color: #717171;
}

.item-grid-listado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 1rem;
  width: 100%;
}

.pagination {
  margin: 3rem;
}

/* .ImgCard-producto {
  max-width: 100%;
  max-height: 100%;
  width: 700px;
  height: 400px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 0px;
  object-fit: cover; 
} */

.paginacion {
  margin: 3rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}

.boton-paginacion {
  clear: both;
  background-color: white;
  color: var(--coloreGrey5);
  background-color: white;
  border: 1px solid var(--colorGrey4);
  box-shadow: var(--BShadow1);
  padding: 0.8rem 1.2rem;
  border-radius: var(--bRadiusButton);
  font-size: 1.5rem;
  font-weight: var(--fweightM);
}

.boton-no-paginacion {
  color: var(--colorGrey3);
  background-color: white;
  border: 1px solid var(--colorGrey4);
  box-shadow: var(--BShadow1);
  padding: 0.8rem 1.2rem;
  border-radius: var(--bRadiusButton);
  font-size: 1.5rem;
  font-weight: var(--fweightL);
}
