.header {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  padding-top: 0.5rem;
  padding-left: 1rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;

}

.admin-header {
  height: 100px;
}

nav {
  height: 100px;
  padding: 0 0rem;
  width: 100%;
  /* border-bottom: 1px solid #e6e6e6; */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.ul-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.botones-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-right: 0.5rem;
}
.buscador-cat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 110px;
  width: 100%;
z-index: 1;
}

.icono-persona {
  display: none;
}

@media (max-width: 1260px) {

  .header {
    height: 255px;
  }

  .admin-header {
    height: 100px;
  }

.buscador-cat {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  gap: 1rem;
  border-bottom: 1px solid #e6e6e6;
}
}


@media (max-width: 770px) {
  .account-menu {
    top: 10px;
    right: 10px;
  }
  

}
@media (max-width: 700px) {

  .buscador-cat {
    height: 140px;
    overflow: hidden;
    
  }

  .account-menu {
    top: 10px;
    right: 10px;
  }
  
}

.account-menu {
  position: relative;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 1000; /* Ajusta el valor z-index según sea necesario para evitar solapamientos con otros elementos */
}