
section.segmento-buscador {
display:flex;
flex-wrap: wrap;
flex-direction:row; 
justify-content:center; 
align-items:center;
gap:1rem;
min-height: 70px;

padding: 15px 2rem;
background-color:#7cc598; 
color:white;
}

