/* .input-container {
    position: absolute;
    width: 100%;
   
}*/

input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 22px;
  width: inherit;
  height: inherit;
  position: absolute;
  line-height:38px;
  color: white;
  z-index: 3;
}

/*
#suggestion {
    background-color: rgb(255, 255, 255);
 
    font-size: 24px;
    color: #a3a1a1;
    width: inherit;
    height: inherit;
    outline: none;
    border: none;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 2;

} 
*/
