.card-categoria {
 display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   gap: 0.1rem;
  width: 120px;
  height: 60px;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  /* -moz-border-radius: 11px 11px 11px 11px; */
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  color:var(--colorGrey2);
  /* border: 1px solid salmon; */
} 

.card-categoria:hover {
  color: black; 
  transform: scale(1.05); 
}
