.segmento-categorias {
  padding-top: 1px;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  align-items: center;
  gap: 3%;

  overflow: hidden;
  /* margin-right: 1rem; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;  */
}

/* .control {
  position: absolute;
  cursor: pointer;
  object-fit: cover;

} */

/* .arrow {
  display: flex; 
  justify-content: center; 
  width: 40px;
  height: inherit;
  align-items: center;
  cursor: pointer;
} */
/* .container .prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, 50%);
} */


 
.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  /* overflow-x: auto;
white-space: nowrap; */

}


.txt-titulo-servicio {
  font-size: 12px;
  color: #275ca8;
  margin: 0px;
}

.nombre-icono-categoria {
  line-height: 19px;
  font-size: 11px;
  font-weight: var(--fweight5);
  width: 160px;
  color: inherit;
  text-align: center;
}

.icono {
 
  width: 60px;
  height: 50px;
}

/* .fondo-icono {
  padding: 0.4rem 0.5rem;
  text-align: center;
} */


@media (max-width: 1260px) {
  .segmento-categorias {
    width: 90%;
    /* height: 73px; */
  }
  .nombre-icono-categoria {
    font-size: var(--fsizeCat);
  }

}
@media (max-width: 1500px) {
  .segmento-categorias {
    width: 90%;

  }
  .nombre-icono-categoria {
    font-size: var(--fsizeCat);
  }
}
/* Media query */
@media (max-width: 1040px) {
  .segmento-categorias {
    width: 98%;
    /* height: 73px; */
    overflow: hidden;
    padding: 0 1rem;
   white-space: nowrap;
   text-overflow: ellipsis;
  }

}


/* Media query */
@media (max-width: 1024px) {
  /* .nombre-icono-categoria {
    display: none;
  } */
  .segmento-categorias {
    width: 95%;
    /* height: 73px; */
  }
  
}

@media (max-width: 900px) {


  .segmento-categorias {
    /* height: 70px; */
    width: 98%;
    flex-wrap: nowrap;
    overflow: hidden;
   white-space: nowrap;
  
  }
}
@media (max-width: 750px) {

  .icono {
 
    width: 40px;
    height: 40px;
  }

  .arrow {

    width: 30px;
    height: 70px;
    align-items: center;
  
  }
  
}



@media (max-width: 600px) {

  .segmento-categorias {
    /* height: 70px; */
    width: 98%;
    align-items: center;
    justify-content: space-between;
    padding: 0  5%;
  }

  .ofi-abierta {
    display: none;
  }
}


  @media (max-width: 457px) {


  .ofi-house {
    display: none;
    }
    
}